<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>경매</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link th:href="@{/css/AuctionItems.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
<!-- header -->
<div th:insert="~{/common/header :: headerFragment}"></div>
<!-- header -->


<!-- 경매물품 구간 -->
<section class="py-5 text-center container">
    <p>새로운 경매 아이템 등록 페이지 입니다.</p>
    <form th:action="@{/item/newRegister}" class="m-auto" method="post">
        <div class="form-floating m-5">
            <input type="text" class="form-control" id="title" name="title">
            <label for="title">Title</label>
        </div>
        <div class="form-floating m-5">
            <input type="text" class="form-control" id="info" name="info">
            <label for="info">Info</label>
        </div>
        <div class="form-floating m-5">
            <input type="number" class="form-control" id="price" name="price">
            <label for="price">Price</label>
        </div>
        <div class="form-floating last m-5">
            <input type="text" class="form-control" id="url" name="url">
            <label for="url">Image_Url</label>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto"> <!-- 여기서 8은 원래의 너비 -->
                <!-- 내용을 그대로 유지 -->
            </div>
            <div class="col-md-4"> <!-- 여기서 4는 오른쪽에 차지할 너비 -->
                <button class="btn btn-primary w-100 py-2 btn-secondary my-3 ml-auto" type="submit"
                        onclick="validateForm()" id="submitButton">등록
                </button>
                <p id="errorMessage" class="error-message"></p>
            </div>
        </div>
    </form>
</section>

<script>
    function validateForm() {
      var titleInput = document.getElementById('title').value;
      var infoInput = document.getElementById('info').value;
      var priceInput = document.getElementById('price').value;
      var urlInput = document.getElementById('url').value;
      var errorMessageElement = document.getElementById('errorMessage');
      var submitButton = document.getElementById('submitButton');

      // 입력 필드 중 하나라도 비어 있으면
      if (titleInput === '' || infoInput === '' || priceInput === '' || urlInput === '') {
        errorMessageElement.textContent = '모든 필드를 작성하세요.';
        submitButton.disabled = true; // 버튼 비활성화
      } else {
        errorMessageElement.textContent = '';
        submitButton.disabled = false; // 버튼 활성화

}
}
</script>

<!-- footer 시작 -->
<div th:insert="~{/common/footer :: footerFragment}"></div>
<!-- footer 끝  -->

<script src="https://kit.fontawesome.com/60b75f9d43.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>