html,
body {
  height: 100%;
}

.form-signup {
  max-width: 360px;
  padding: 1rem;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.fa-solid.fa-frog{
  padding-bottom: 15px;
}
.sign_up{
  margin-top: 10px;
}

.form-floating{
  margin-bottom: 10px;
}