@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
html,
body {
  height: 100%;
  font-family: 'S-CoreDream-3Light';
}

.form-signup {
  max-width: 360px;
  padding: 1rem;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.fa-solid.fa-frog{
  padding-bottom: 15px;
}
.sign_up{
  margin-top: 10px;
}

.form-floating{
  margin-bottom: 10px;
}